#cajaPrincipal {
    background-color: skyblue;
    border-radius: 4px;

}

.cajas {
    background-color: pink;
    height: 100px;
}

#cajaPrincipal:hover {
    filter: blur(0);
}

#gatito {
    filter: drop-shadow(20px 40px 40px black);
    /* x y blur color*/
}

/* rotate - girar */
/* scale - aumenta visualmente su escala */
/* skew - inclinar */